.logo {
  width: 80px;
}

.navbar {
  opacity: 0.9 !important;
  text-transform: uppercase;
}

.social a {
  margin-right: 0.4rem;
}

#showcase {
  /* background-image: url('img/showcase.jpeg');
  background: no-repeat top center fixed; */
  background-size: cover;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem;
}

#showcase .home-search {
  min-height: 400px;
  position: relative;
  border-radius: 5px;
}

#showcase .overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
  width: 100%;
  background: rgba(51, 51, 51, 0.8);
}

#showcase-inner {
  background-image: no-repeat top center fixed !important;
  position: relative;
  overflow: hidden;
  min-height: 200px;
}

#services {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(42, 131, 107, 0.8);
}

#services {
  min-height: 300px;
  position: relative;
  overflow: hidden;
}

#work {
  padding: 6rem 0;
}

.listing-preview a {
  position: relative;
}

/* Cards */
/* .card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  gap: 1rem;
}

.card {
  height: 300px;
  perspective: 1000px;
} */

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem;
  }
  #showcase h1 {
    font-size: 40px;
  }
  .hide-md-down {
    display: none;
  }
}
/* 
@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
} */

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem;
  }
  #showcase h1 {
    font-size: 40px;
  }
  #showcase p {
    display: none;
  }
  #top-bar {
    text-align: center;
  }
  #top-bar .social {
    text-align: center !important;
  }
}

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px;
  }
  #showcase-inner h1 {
    font-size: 40px;
  }
}
/* 
@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
} */
